@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #06b6d4;
  --primary-color-alt: #0891b2;
  --secondary-color: #d1d5db;
  --success-color: #22c55e;
  --success-color-alt: #16a34a;
  --danger-color: #ef4444;
  --danger-color-alt: #dc2626;
}


body {
  background-color: #d1d5db;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
