/*  Input de busqueda */
.inputSearch {
    border: 1.5px solid var(--secondary-color);
    padding: 5px;
    border-radius: 8px;
}

.inputSearch:focus-visible {
    outline: 0.5px solid var(--primary-color-alt);
}

.inputSearch:hover {
    border-color: var(--primary-color-alt);
    transition: 230ms;
}

/* Botón de borrado */

.trashButton {
    border-radius: 50%;
    background-color: var(--danger-color);
    padding: 5px;
    height: 40px;
}

.trashButton:hover {
    background-color: var(--danger-color-alt);
}

/* Tabla */

.headRow th{
    background-color: #eeecec59;
    padding: 8px;
    text-align: start;
    color: #4b5563;
}

.bodyRow td {
    border-bottom: solid 1px var(--secondary-color);
    padding: 10px;
    min-width: 90px;
    text-overflow: clip;
}
